$grosor-principal: 600;
$dis-inblock: inline-block;
$justify-center: center; 
$borde-principal: solid;

/* MAPS */

$colores: (
    color-principal: #DD814E,
    color-secundario: #006399,
    color-tercero: #E7690C,
    color-cuarto: black,
    color-quinto: #032945,
    color-sexto: white,
);

$tamanio-tipografia: (
    titulo: 2.5rem,
    subtitulo: 1.5rem,
    texto: 1rem,

);

$alineacion-texto: (
    centrado: center,
    izquierdo: left,
    derecho: right,
    
);

$fuentes: (
    family-uno: 'Nunito',
    family-dos: sans-serif,
    family-tres: 'Merienda',
    family-cuatro: 'Gloria Hallelujah',
    family-cinco: 'Courier New', 
);

$margen:(
    cero: 0,
    medio: 0.5rem,
    uno: 1rem,
    uno-medio: 1.5rem,
    dos: 2rem,
);

$margen-izquierdo: (
    medio: 0.5rem,
    uno: 1rem,
    uno-medio: 1.5rem,
    dos: 2rem,
);

$alto-linea: (
    uno: 1rem,
    uno-medio: 1.5rem,
    dos: 2rem,
);

$rellenos:(
    cero:0,
    medio: 0.5rem,
    uno: 1rem,
    uno-medio: 1.5rem,
    dos: 2rem,
);

$radius: (
    uno:  1rem,
    dos:  2rem,
    tres: 3rem,
    cinco: 5rem,
);

$tamanio: (
    total: 100%,
    medio: 50%,
    cuarto: 25%,
);

$color-fondo: (
    fondo-principal: #DD814E,
    fondo-secundario: #032945,
    fondo-terciario: white,
);

/* EXTEND */

%color-gradient{
    background: rgb(3, 41, 69);
    background: radial-gradient(circle, rgba(3, 41, 69, 1) 22%, rgba(0, 99, 153, 1) 39%, rgba(3, 41, 69, 1) 49%, rgba(0, 99, 153, 1) 70%);
};

%flex-colum{
    display: flex;
    flex-direction: column;
};

%nos-mvo{
    font-family: sans-serif;
    font-size  : 1.5rem;
    margin     : 1.5rem;
    color      : #E7690C;
};

%nos-div{
    color      : #006399;
    text-align : left;
    font-family: 'Nunito';
    font-size  : 1rem;
    font-weight: 600;
    text-shadow: 1px;
    margin-left: 1.5rem;
    line-height: 1.5rem;
};



/* MIXIN */

@mixin dis ($todos, $orden) {
    display: $todos;
    justify-content: $orden;
};

@mixin hoy ($kolor, $tatama) {
    color: $kolor;
    font-family: 'Nunito';
    font-size: $tatama;
    border: 3px $borde-principal map-get($colores, color-cuarto)
};

@mixin cuerpo ($dimension, $colur) {
    font-family: 'Nunito';
    font-size  : $dimension;
    color      : $colur;
    text-align : center;  
};

@mixin card ($bolde, $fon, $cul, $tran){
    width: 18rem;
    margin: map-get($margen, dos);
    border-radius: map-get($radius, dos);
    border: $bolde;
    background-color: $fon;
    color: $cul;
    font-family: 'Nunito';
    transition: $tran;
};

@mixin mando ($alin, $col, $tipo) {
    text-align: $alin;
    font-family: 'Nunito';
    color: $col;
    font-size: $tipo;
};

@mixin grid ($filas, $medida) {
    display: grid;
    grid-template-columns: $filas;
    grid-template-rows   : $medida;
};

@mixin forma ($wdt, $malf) {
    width: $wdt;
    height: 26rem;
    border: 5px $borde-principal map-get($colores, color-cuarto);
    margin-left: $malf;   
};

@mixin info ($tam) {
    font-family: 'Nunito';
    font-size  : $tam;
    margin     : 10px;
    line-height: 30px;
};

@mixin contacto ($ali, $taman) {
    text-align: $ali;
    font-family: 'Nunito';
    font-size: $taman;
};

@mixin form-textin ($relleno) {
    width: 400px;
    padding: $relleno;
    border: 3px $borde-principal map-get($colores, color-principal);
    border-radius: 3px;
    background-color: map-get($color-fondo, fondo-terciario);
    margin: 8px 0;
};

@mixin form-input ($width, $padding, $color) {
    width: $width;
    padding: $padding;
    border: 1px $borde-principal black;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: map-get($colores, color-principal);
    color: $color;
    display: block;
};