$grosor-principal: 600;


/* MAPS */

$colores: (
    color-principal: #DD814E,
    color-secundario: #006399,
    color-tercero: #E7690C,
    color-cuarto: black,
    color-quinto: #032945,

);

$tamanio-tipografia: (
    titulo: 2.5rem,
    subtitulo: 1.5rem,
    texto: 1rem,

);

$alineacion-texto: (
    centrado: center,
    izquierdo: left,
    derecho: right,
    
);

$fuentes: (
    family-uno: 'Nunito',
    family-dos: sans-serif,
    family-tres: 'Merienda',
    family-cuatro: 'Gloria Hallelujah',

);

$margen:(
    cero: 0,
    medio: 0.5rem,
    uno: 1rem,
    uno-medio: 1.5rem,
    dos: 2rem,
);

$margen-izquierdo: (
    medio: 0.5rem,
    uno: 1rem,
    uno-medio: 1.5rem,
    dos: 2rem,
);

$tamanio: (
    total: 100%,
    medio: 50%,
    cuarto: 25%,
);

$color-fondo: (
    fondo-principal: #DD814E,
    fondo-secundario: #032945,
    fondo-terciario: white,
);

/* EXTEND */

%flex-colum{
    display: flex;
    flex-direction: column;
};

