/* MAPS */
$colores: (
    color-principal: #DD814E,
    color-secudario: #006399,
    color-tercero: #E7690C,
    color-cuarto: black,
    color-quinto: #032945,

);

$tamanio-tipografia: (
    titulo: 2.5rem,
    subtitulo: 1.5rem,
    texto: 1rem,

);

$alineacion-texto: (
    centrado: center,
    izquierdo: left,
    derecho: right,
    
);