.cabeza{
    @extend %color-gradient;
}
.navbar-light .navbar-toggler{
    margin: map-get($margen, uno);
    background-color: map-get($color-fondo,fondo-principal);
};
.navbar-expand-lg .navbar-collapse{
    justify-content: $justify-center;
};
.nav-item {
    background-color: map-get($color-fondo, fondo-principal);
    padding         : map-get($rellenos, medio);
    border          : 0.12rem solid map-get($colores, color-sexto);
    border-radius   : map-get($radius, tres);
    margin          : map-get($margen, uno);
    transition      : all 1s;
}
.nav-item:hover {
    transform: scale(1.3);
}

.nav-link {
    font-size  : map-get($tamanio-tipografia, subtitulo);
    font-family: map-get($fuentes, family-uno);
    color      : map-get($colores, color-sexto) !important;
    /* no me dejaba cambiar color de letra */
}

.mx-auto {
    border       : solid;
    margin-bottom: map-get($margen, cero);
}