.cuerpo{
    &__medio{
        @include grid (1fr 1fr 1fr, 25vh);
        gap: 1vh;

        &__uno{
            grid-area  : 1 / 1 / 2 / 2;
            margin-left: 2vw;
            margin-top : 4vh;

            & h1{
                @include cuerpo (3rem, #DD814E);
            }

            & h2{
                @include cuerpo (2.3rem, #006399);
            }
        }

        &__dos{
            grid-area: 1 / 2 / 2 / 4;
        
            & h3{
                @include cuerpo (2rem, #DD814E);
                margin: 10vh;
                transform  : rotateZ(-3deg);
            }
        }

        &__tres{
            grid-area: 2 / 2 / 3 / 4;

            & p{
                @include cuerpo (1.5rem, #006399);
                word-spacing: 0.5rem;
                margin-top  : 0;
            }
        }
    }

    .card{
        @include dis (inline-block, center);
        @include card (#032945 $borde-principal, #DD814E, white, all 1s);
        margin-right: 3.5rem;
       

    &:hover{
        transform: scale(1.2);
    }
        &-subtitle{
            color: map-get($colores, color-cuarto);
        }
    }
}