.nos{
    &__sec{
        @extend %flex-colum;
    
        &__tit{
            color: map-get($colores, color-tercero);
            text-align: map-get($alineacion-texto, centrado);
            font-size: map-get($tamanio-tipografia, titulo);
            font-family: map-get($fuentes, family-uno);
            margin: map-get($margen, dos);
        }

        &__div1{
            @extend %nos-div;
        }

        &__vision{
            @extend %nos-mvo;
        }

        &__div2{
            @extend %nos-div;
        }

        &__mision{
            @extend %nos-mvo;
        }

        &__div3{
            @extend %nos-div;
        }

        &__obj{
            @extend %nos-mvo;
        }

        &__item{
            color: map-get($colores, color-secundario);
            text-align: map-get($alineacion-texto, izquierdo);
            font-size: map-get($tamanio-tipografia, texto);
            font-weight: $grosor-principal;
            font-family: map-get($fuentes, family-uno);
            margin-left: map-get($margen-izquierdo, uno-medio);
            text-shadow: 1px;
        }
    }

}