.nos{
    &__sec{
        @extend %flex-colum;
    
        &__tit{
            color: map-get($colores, color-tercero);
            text-align: map-get($alineacion-texto, centrado);
            font-size: map-get($tamanio-tipografia, titulo);
            font-family: map-get($fuentes, family-uno);
            margin: map-get($margen, dos);
        }

        &__div1{
            color: map-get($colores, color-secundario);
            text-align: map-get($alineacion-texto, izquierdo);
            font-size: map-get($tamanio-tipografia, texto);
            font-weight: $grosor-principal;
            font-family: map-get($fuentes, family-uno);
            margin-left: map-get($margen-izquierdo, uno-medio);
            text-shadow: 1px;
            line-height: 1.5rem;

        }

        &__vision{
            color: map-get($colores, color-tercero);
            font-size: map-get($tamanio-tipografia, subtitulo);
            font-family: map-get($fuentes, family-dos);
            margin: map-get($margen, uno-medio);
        }

        &__div2{
            color: map-get($colores, color-secundario);
            text-align: map-get($alineacion-texto, izquierdo);
            font-size: map-get($tamanio-tipografia, texto);
            font-weight: $grosor-principal;
            font-family: map-get($fuentes, family-uno);
            margin-left: map-get($margen-izquierdo, uno-medio);
            text-shadow: 1px;
            line-height: 1.5rem;
        }

        &__mision{
            color: map-get($colores, color-tercero);
            font-size: map-get($tamanio-tipografia, subtitulo);
            font-family: map-get($fuentes, family-dos);
            margin: map-get($margen, uno-medio);
        }

        &__div3{
            color: map-get($colores, color-secundario);
            text-align: map-get($alineacion-texto, izquierdo);
            font-size: map-get($tamanio-tipografia, texto);
            font-weight: $grosor-principal;
            font-family: map-get($fuentes, family-uno);
            margin-left: map-get($margen-izquierdo, uno-medio);
            text-shadow: 1px;
            line-height: 1.5rem;
        }

        &__obj{
            color: map-get($colores, color-tercero);
            font-size: map-get($tamanio-tipografia, subtitulo);
            font-family: map-get($fuentes, family-dos);
            margin: map-get($margen, uno-medio);
        }

        &__item{
            color: map-get($colores, color-secundario);
            text-align: map-get($alineacion-texto, izquierdo);
            font-size: map-get($tamanio-tipografia, texto);
            font-weight: $grosor-principal;
            font-family: map-get($fuentes, family-uno);
            margin-left: map-get($margen-izquierdo, uno-medio);
            text-shadow: 1px;
        }
    }

}